<link rel="stylesheet" href="views/projects/projects.css" type="text/css" />
<link rel="stylesheet" href="views/endpoints/endpoints.css" type="text/css" />

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" is-locked-open="$media('md')" md-theme="light-blue-dark" style="z-index: 10;">
    <md-toolbar style="background-color: #ffffff; color: #000000;" layout="row">
        <h1 class="md-toolbar-tools">
            <md-button onClick="parent.location='#/'" aria-label="back button">
                <md-icon icon="assets/icons/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            Projects
        </h1>
    </md-toolbar>
    <md-content ng-controller="LeftCtrl" md-theme="blue">
        <section>
            <md-subheader style="text-align: center;" class="md-primary"><b>{{ project.title }}</b></md-subheader>
            <md-list layout="column">
                <md-item ng-repeat="endpoint in project.endpoints" ng-click="openEndpoint(endpoint, $index)">
                    <md-item-content>
                        <div class="md-tile-content" layout="row">
                            <md-button class="md-fab md-primary md-tile-left endpoint_type" aria-label="endpoint" ng-class="'endpoint_type_' + endpoint.method_type.toLowerCase()">
                                {{ endpoint.method_type }}
                            </md-button>
                            <div layout="column" style="margin-top: 0.9em; cursor: hand;">
                                <h3>{{ endpoint.title }}</h3>
                                <h4>{{ endpoint.url }}</h4>
                            </div>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </section>
    </md-content>
</md-sidenav>

<md-content layout-fill style="margin-top: 0em;">

    <md-card layout="column">
        <md-toolbar layout="row">
            <span flex></span>
            <h3>Endpoint</h3>
            <span flex></span>
            <md-button ng-click="resetContent()" aria-label="new endpoint" style="margin-right: 1em;">
                Reset
            </md-button>
        </md-toolbar>

        <md-content class="endpoint-details">
            <form style="padding: 20px;">
                <div layout="row" layout-align="space-around center">
                    <md-text-float label="Title" ng-model="endpoint.title"> </md-text-float>
                </div>
                <div layout="row" layout-align="space-around center">
                    <md-text-float label="Description" ng-model="endpoint.description"> </md-text-float>
                </div>
                <div layout="row" layout-align="space-around center">
                    <md-text-float label="URL" ng-model="endpoint.url"> </md-text-float>
                </div>
                <br />
                <span layout="row" layout-align="center"><b>Method Type</b></span>
                <md-radio-group ng-model="endpoint.method_type" layout="row" layout-align="center" ng-change="modeChanged()">
                    <span layout="column">
                        <md-radio-button value="GET" aria-label="Get">Get</md-radio-button>
                        <md-radio-button value="POST" aria-label="Post">Post</md-radio-button>
                        <md-radio-button value="PUT" aria-label="Put">Put</md-radio-button>
                        <md-radio-button value="PATCH"  aria-label="Patch">Patch</md-radio-button>
                        <md-radio-button value="DELETE" aria-label="Delete">Delete</md-radio-button>
                    </span>
                    <span layout="column">
                        <md-radio-button value="COPY" aria-label="Copy">Copy</md-radio-button>
                        <md-radio-button value="HEAD" aria-label="Head">Head</md-radio-button>
                        <md-radio-button value="OPTIONS"  aria-label="Options">Options</md-radio-button>
                        <md-radio-button value="LINK" aria-label="Link">Link</md-radio-button>
                        <md-radio-button value="UNLINK" aria-label="Unlink">Unlink</md-radio-button>
                    </span>
                    <span layout="column">
                        <md-radio-button value="PURGE" aria-label="Purge">Purge</md-radio-button>
                        <md-radio-button value="LOCK"  aria-label="Lock">Lock</md-radio-button>
                        <md-radio-button value="UNLOCK" aria-label="Unlock">Unlock</md-radio-button>
                        <md-radio-button value="PROFIND" aria-label="Profind">Profind</md-radio-button>
                    </span>
                </md-radio-group>
            </form>
        </md-content>
    </md-card>

    <md-card layout="column">
        <md-toolbar layout="row">
            <span flex></span>
            <h3>Headers</h3>
            <span flex></span>
        </md-toolbar>

        <md-content class="endpoint-headers">
            <div layout="row" layout-align="space-around center" ng-repeat="head in endpoint.headers">
                <md-text-float label="Header" ng-model="head.key"></md-text-float>
                <md-text-float label="Value" ng-model="head.value"></md-text-float>
            </div>
            <form layout="row" layout-align="space-around center" ng-submit="addNewHeader()">
                <md-text-float label="Header" ng-model="header.key"></md-text-float>
                <md-text-float label="Value" ng-model="header.value"></md-text-float>
            </form>
            <div layout="row" layout-align="center" style="width: 90%;">
                <md-button ng-click="addNewHeader()">Add Header</md-button>
            </div>
        </md-content>
    </md-card>

    <md-card layout="column">
        <md-toolbar layout="row">
            <span flex></span>
            <h3>URL Params</h3>
            <span flex></span>
        </md-toolbar>

        <md-content class="endpoint-headers">
            <div layout="row" layout-align="space-around center" ng-repeat="param in endpoint.url_params">
                <md-text-float label="Key" ng-model="param.key"></md-text-float>
                <md-text-float label="Value" ng-model="param.value"></md-text-float>
            </div>
            <form layout="row" layout-align="space-around center" ng-submit="addNewURLParam()">
                <md-text-float label="Key" ng-model="param.key"></md-text-float>
                <md-text-float label="Value" ng-model="param.value"></md-text-float>
            </form>
            <div layout="row" layout-align="center" style="width: 90%;">
                <md-button ng-click="addNewURLParam()">Add URL Param</md-button>
            </div>
        </md-content>
    </md-card>

    <md-card layout="column">
        <md-toolbar layout="row">
            <span flex></span>
            <h3>Body</h3>
            <span flex></span>
        </md-toolbar>

        <div ui-ace="bodyOptions" ng-model="endpoint.body" class="body-input"></div>

        <br />
        <b style="text-align: center;">Body Type</b>
        <md-radio-group ng-model="endpoint.body_type" layout="row" layout-align="center" ng-change="modeChanged()">
            <md-radio-button value="json" aria-label="JSON">JSON</md-radio-button>
            <md-radio-button value="text" aria-label="Text">Text</md-radio-button>
            <md-radio-button value="html" aria-label="HTML">HTML</md-radio-button>
            <md-radio-button value="xml"  aria-label="XML">XML</md-radio-button>
        </md-radio-group>
    </md-card>

    <md-card layout="column">
        <md-toolbar layout="row">
            <span flex></span>
            <h3>Output</h3>
            <span flex></span>
        </md-toolbar>
        <br />
        <b ng-show="output.content">Headers</b>
        <pre ng-show="output.headers">{{ output.headers }}</pre>
        <br />
        <b ng-show="output.content">Body</b>
        <div ng-show="output.content" ui-ace="outputOptions" ng-model="output.content" class="body-input"></div>
        <br />
        <b ng-show="output.content && output.type === 'html'">Preview</b>
        <div ng-show="output.content && output.type === 'html'" ng-bind-html="output.content"></div>
        <br />
    </md-card>

    <md-button ng-click="runEndpoint($event)" ng-show="showActions && endpoint_token !== 'null'" class="md-fab md-primary" style="background-color: #ff9800; position: fixed; bottom: 16.5em; right: 1.5em;" aria-label="delete endpoint">
        <md-icon icon="assets/icons/ic_send_24px.svg"></md-icon>
    </md-button>

    <md-button ng-click="deleteEndpoint($event)" ng-show="showActions && endpoint_token !== 'null'" class="md-fab md-primary" style="background-color: #ff5722; position: fixed; bottom: 11.5em; right: 1.5em;" aria-label="delete endpoint">
        <md-icon icon="assets/icons/ic_delete_24px.svg"></md-icon>
    </md-button>

    <md-button ng-click="saveEndpoint($event)" ng-show="showActions" class="md-fab md-primary" style="background-color: #8bc34a; position: fixed; bottom: 6.5em; right: 1.5em;" aria-label="add endpoint">
        <md-icon icon="assets/icons/ic_save_24px.svg"></md-icon>
    </md-button>

    <md-button ng-click="showActions = !showActions" class="md-fab md-primary" style="background-color: #00bcd4; position: fixed; bottom: 1.5em; right: 1.5em;" aria-label="add endpoint">
        <md-icon icon="assets/icons/ic_more_vert_24px.svg"></md-icon>
    </md-button>

    <br />
    <br />
    <br />
</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" is-locked-open="$media('md')" md-theme="light-blue-dark" style="margin-top: 4.6em; z-index: 5;">
    <md-toolbar style="background-color: #ffffff; color: #000000;" layout="row">
        <h1 class="md-toolbar-tools">
            Activity
        </h1>
    </md-toolbar>
    <md-content ng-controller="endpointsController" md-theme="blue" layout="column">
        <div layout="row" layout-align="center" style="width: 100%;">
            <form class="login-form" name="loginform" ng-submit="sendMessage(newMessage)" >
                <md-text-float label="Message" ng-model="newMessage"></md-text-float>
            </form>
        </div>
        <md-list layout="column">
            <md-item ng-repeat="message in messages">
                <md-item-content>
                    <div class="md-tile-content" layout="row">
                        <div layout="column" style="margin-top: 0.9em; margin-right: 0.9em; cursor: hand;">
                            <img ng-show="message.sender" src="assets/icons/person.svg" />
                        </div>
                        <div layout="column" style="margin-top: 0.9em; cursor: hand;">
                            <b style="color: #3f51b5;">{{ message.room }}</b>
                            <h3 style="color: #212121;">{{ message.text }}</h3>
                            <i style="color: #9e9e9e;">{{ message.date | date: 'dd/MM/yyyy HH:mm:ss' }}</i>
                        </div>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
