<html ng-app="app">
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<head>
    <title>Agile API</title>

    <!-- Libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/cryptojslib/rollups/sha512.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/authenticateJS/build/authenticate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-route-animation-manager/angular-route-animation-manager.js"></script>
    <script src="bower_components/at-table/dist/angular-table.js"></script>

    <!-- ACE Editor -->
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>

    <!-- include files -->
    <script src="app.js"></script>

    <script src="views/list/listDialog.js"></script>

    <!-- services -->
    <script src="components/toast/toast.js"></script>
    <script src="components/authorization/auth.js"></script>
    <script src="views/list/listService.js"></script>

    <!-- controllers -->
    <script src="views/index/indexController.js"></script>
    <script src="views/home/homeController.js"></script>
    <script src="views/about/aboutController.js"></script>
    <script src="views/login/loginController.js"></script>
    <script src="views/register/registerController.js"></script>
    <script src="views/logout/logoutController.js"></script>
    <script src="views/profile/profileController.js"></script>
    <script src="views/list/listController.js"></script>
    <script src="views/projects/projectsController.js"></script>
    <script src="views/endpoints/endpointsController.js"></script>

    <script src="config.js"></script>

    <!-- routes -->
    <script src="routes.js"></script>

    <!-- library stylesheets -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/cyan-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/blue-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/light-blue-dark-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/pink-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/amber-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/grey-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/red-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/teal-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/indigo-theme.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/themes/green-theme.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body ng-controller="appController" layout="column">
    <section class="md-header" style="z-index: 9;">
      <md-toolbar ng-class="showTabs?'':'md-whiteframe-z1'">
          <h1 class="md-toolbar-tools">
              <div ng-hide="showTabs" ng-include="'partials/back.html'"></div>
              <span ng-show="showTabs" flex></span>
              <b>Agile API</b>
              <span flex></span>
              <div ng-show="isLoggedIn">
                  <md-button ng-click="toggleRight()" aria-label="activity">
                      <md-icon icon="assets/icons/ic_notifications_none_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                  </md-button>
                  <md-button onClick="parent.location='#/logout'" aria-label="logout">
                      <md-icon icon="assets/icons/ic_input_24px.svg" style="width: 24px; height: 24px;"></md-icon>
                  </md-button>
              </div>
          </h1>
      </md-toolbar>
      <md-tabs md-selected="$root.selectedIndex" class="md-whiteframe-z1" ng-show="showTabs">
          <md-tab ng-repeat="tab in tabs" ng-click="$root.openTab($index)" aria-controls="{{ tab.name + '-content' }}">{{ tab.title }}</md-tab>
      </md-tabs>
    </section>
    <section class="md-tabs-content top-bar-tabs-content" style="margin-top: 3em; overflow-y: auto;">
      <div role="tabpanel" aria-labelledby="content" md-swipe-left="next()" md-swipe-right="previous()" ng-view></div>
    </section>
  </body>
</html>
