<!--<md-toolbar>-->
    <!--<div class="md-toolbar-tools">-->
      <!--<div ng-include="'partials/back.html'"></div>-->
      <!--<span class="md-flex"><h1>{{title}}</h1></span>-->
    <!--</div>-->
  <!--</md-toolbar>-->
<md-content layout-fill style="margin-top: 2em;">
  <md-card>
    <div ng-hide="version" style="text-align:center">
      <h1>Loading</h1>
      <md-progress-circular md-theme="blue" md-mode="indeterminate"></md-progress-circular>
      <p>If this takes long please check your connection.</p>
    </div>

    <div ng-show="version" style="text-align:center">
      <!--<img src="assets/icons/logo_grey.png" width="300px"/>-->
      <h1>Agile API</h1>
      <p style="width:50%; margin: 0 auto">Team API Tools</p>
      <br>
      <h4>Authors</h4>
      <md-list>
        <md-item ng-repeat="author in authors">
          <md-item-content>
            <div class="md-tile-content">
              {{author}}
            </div>
          </md-item-content>
        </md-item>
      </md-list>
      <br><br>
      <b>Version: {{version}}</b>
      <br><br>
    </div>
  </md-card>

</md-content>
